@model ProfessionalListsVM
@{
    ViewBag.Title = $"All Professionals, Page {@Model.PageNumber}";
    var specializationItems = Model.SpecializationItems.Select(s => new SelectListItem(s.Value, s.Key));
    var regionItems = Model.RegionItems.Select(s => new SelectListItem(s.Value, s.Key));
}

<div class="container jumbotron-opacity">
    <hr />

    <form method="get" class="mt-3">
        <div class="row">
            <div class="form-group col-md-3">
                <input asp-for="SearchItem" class="form-control" placeholder="Search by name...">
            </div>
            <div class="form-group col-md-3">
                <select asp-for="RegionId" class="form-control" asp-items="regionItems">
                    <option value="0" selected>Select a region</option>
                </select>
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <select asp-for="SpecializationId" class="form-control" asp-items="specializationItems">
                    <option value="0" selected>Select a specialization</option>
                </select>
                <span asp-validation-for="SpecializationId" class="text-danger"></span>
            </div>
            <div class="col-3">
                <input value="Search" type="submit" class="btn btn-block btn-primary" />
            </div>
        </div>
    </form>

    <div class="container">
        <div class="row">
            @foreach (var professional in Model.Professionals)
            {
                <div class="col-lg-12">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="@professional.ImageUrl" alt="@professional.FullName">@* class="img-fluid" *@
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"> @professional.FullName</h5>
                                    <p class="card-text">@professional.SpecializationName - @professional.RegionName</p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Age: @professional.Age</li>
                                        <li class="list-group-item">Average rating: @(professional.AverageRating == null ? (object)"Not rated" : professional.AverageRating)</li>
                                        <li class="list-group-item">Email address: @professional.Email</li>
                                        <li class="list-group-item">Phone: @professional.PhoneNumber</li>
                                    </ul>
                                    <div class="card-body row">
                                        <div class="col-6 text-center">
                                            <a type="submit" class="btn btn-primary" asp-area="Customer" asp-controller="Appointment" asp-action="MakeAppointment" asp-route-professionalId="@professional.Id">
                                                Make an appointment
                                            </a>
                                        </div>
                                        <div class="col-6 text-center">
                                            <a type="submit" class="btn btn-warning" asp-area="" asp-controller="Professional" asp-action="Profile" asp-route-professionalId="@professional.Id">
                                                View Professional profile
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <hr />

    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item @(!Model.HasPreviousPage ? "disabled" : string.Empty)">
                <a class="page-link" asp-controller="Professional" asp-action="Index" asp-route-id="@Model.PreviousPageNumber" asp-route-searchTerm="@Model.SearchItem" asp-route-regionId="@Model.RegionId" asp-route-specializationId="@Model.SpecializationId">Previous</a>
            </li>
            @for (int i = Model.PageNumber - 2; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Professional" asp-action="Index" asp-route-id="@i" asp-route-searchTerm="@Model.SearchItem" asp-route-regionId="@Model.RegionId" asp-route-specializationId="@Model.SpecializationId">@i</a>
                    </li>
                }
            }
            <li class="page-item active">
                <span class="page-link">
                    @Model.PageNumber
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 2; i++)
            {
                if (i <= Model.PagesCount)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Professional" asp-action="Index" asp-route-id="@i" asp-route-searchTerm="@Model.SearchItem" asp-route-regionId="@Model.RegionId" asp-route-specializationId="@Model.SpecializationId">@i</a>
                    </li>
                }
            }
            <li class="page-item @(!Model.HasNextPage ? "disabled" : string.Empty)">
                <a class="page-link" asp-controller="Professional" asp-action="Index" asp-route-id="@Model.NextPageNumber" asp-route-searchTerm="@Model.SearchItem" asp-route-regionId="@Model.RegionId" asp-route-specializationId="@Model.SpecializationId">Next</a>
            </li>
        </ul>
    </nav>
</div>